*.swp
*.lo
*.la
*.o
stamp-h*
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
kisscpp-1.pc
kisscpp/.deps/
kisscpp/.dirstamp
kisscpp/.libs/
kisscppconfig.h
libtool
ltmain.sh
missing
.deps
compile
*.pc
ar-lib
*.srctr*
kcsrt
